*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 16px;
}
.restaurar{
    clear: both;
}
/*HEADER*/

 /*DISEñO DEL MENU*/
 /*
header h1{
    text-transform: uppercase;
    text-align: left;
    width:25%;
    display:inline-block;
    margin-left: 80px;
}
header nav{
    text-align: right;
    display:inline-block;
    width:80%;
    justify-content: space-evenly;
}

header ul{
    display: inline-block;
    list-style-type: none;
    margin: 0.5em auto;
    text-align: center;
}

header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: #699bf7;
    padding: .8em;
}

header ul li a:hover{
    color: white;
    background-color: black;
}*/
.menu{
    padding: .8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    text-decoration: none;
    margin: 1em;
    font-family: inherit;
    font-style: normal;
    font-variant: normal;
    justify-content: space-evenly
}
.item:hover{
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: black;
}
/*BANNER*/

header img{
    transition: all .2s;
}
header img:hover{
    transform: scale(1.04);
}
header{
    padding-top: 10px;
	padding-bottom: 15px;
    display: block;
    background-color: white;
    width:100%;
    border-bottom: solid 3px #2b416b;
}
/*BIENVENIDA*/
#welcome .contenido{
    border-bottom: solid 3px #2b416b;
    background-color: rgb(124, 179, 231);
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.izquierda{
	float: left;
}
.derecha{
	float: right;
}
.flotanteTexto{
	width: 35%;
    padding-top: 10%;
    transition: all .2s;
}
.flotanteTexto:hover{
    transform: scale(1.04);
}
.flotanteImagen{
	width: 59%;
    transition: all .2s;
}
.flotanteImagen:hover{
	transform: scale(1.005);
}
.contenido img{
	width: 100%;
	height: auto;
	border: 0;
	position: relative;
}
.contenido h2{
    color: white;
	font-weight: bold;
	font-size: 30px;
}
.contenido p{
	font-size: 25px;
	font-weight: 200;
    text-align: justify;
}
/*SERVICIOS*/

#servicies h1{
    padding-top: 25px;
	font-weight: bold;
	font-size: 50px;
    text-align: center;
}
#servicies h2{
    padding-top: 25px;
	font-weight: bold;
	font-size: 30px;
    text-align: center;
}
.servicio1{
    display: inline-block;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 30px;
    text-align: center;
    transition: all .2s;
  }
  .servicio1:hover{
    transform: scale(1.04);
  }
  
  .servicio2{
    display: inline-block;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 30px;
    text-align: center;
    transition: all .2s;
  }
  .servicio2:hover{
    transform: scale(1.04);
  }
  
  .servicio3{
    display: inline-block;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 30px;
    text-align: center;
    transition: all .2s;
  }
  .servicio3:hover{
    transform: scale(1.04);
  }

/*PIE DE PAGUINA*/
footer{
    border-top: solid 3px #2b416b;
	display: flex;
	justify-content:space-between;
	max-width: 1100px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}